<h1>Feature Request Voting System</h1>
<div class="row">
  <div class="col-md-12">
    Below you will find the most requested features, and the ability to add different features.
    There are a couple of filters that can be used to see different items. You can sort only by 2
    types, most voted and most recently asked.
  </div>
</div>

<br/>

<div class="row">
  <div class="col-md-12">
    4 comments have been added to features you requested.
  </div>
</div>
<br/>

<%# Filtering and sorting %>

<div clas="row">
  <div class="col-md-12">
    <div class="pull-left">
      <div>Filter By: </div>
      <span class="btn btn-link">Valid</span>
      <span class="btn btn-link" disabled="disabled">Tickets Requested By Me</span>
      <span class="btn btn-link">Completed / Rejected</span>
    </div>
    
    <div class="pull-right">
      <div>Sort By: </div>
      <span class="btn btn-link" disabled="disabled">Most Voted</span>
      <span class="btn btn-link">Most Recent</span>
    </div>
  </div>
</div>

<br/>

<div class="row">
  <div class="col-md-12">
    <span class="btn btn-link new-ticket-link">Request New Feature</span>
  </div>
  <div class="col-md-11 col-md-offset-1 hidden new-ticket-container">
    <%= form_for @new_ticket do |f| %>
      <div class="form-group">
        <%= label_tag :title, 'Title: ' %>
        <%= text_field :ticket, :title %>
      </div>
      
      <div class="form-group">
        <%= label_tag :description, 'Description: ' %>
        <%= text_area :ticket, :description %>
      </div>
      
      <div class="form-group">
        <%= primary_button 'Add Ticket' %>
      </div>
    <% end %>
  </div>
</div>

<% @tickets.each do |ticket| %>
  <div class="row ticket-container" data-ticket-id="<%= ticket.id %>">
    <div class="col-md-1 ticket-vote-container">
      <span>0 Votes</span>
      <button class="btn">Vote</button> <%# If the user has already voted, this should say unvote. %>
    </div>
    <div class="col-md-11">
      <h3><%= link_to( ticket.title, ticket_path( ticket ) ) %></h3>
      <div class="row">
        <div class="col-md-9">
          <%= ticket.description %>
        </div>
        <div class="col-md-2">
          <div>Created By: <%= ticket.created_by and ticket.created_by.email %></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-11">
          <span class="btn btn-link comment">0 comments</span>
        </div>
      </div>
    </div>
  </div>
<% end %>

<br/>

<%= link_to 'New Ticket', new_ticket_path %>
