<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @ticket.id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @ticket.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ticket.description %>
</p>

<p>
  <strong>Estimated delivery:</strong>
  <%= @ticket.estimated_delivery %>
</p>

<p>
  <strong>Status:</strong>
  <%= @ticket.status %>
</p>

<p>
  <strong>Jira ticket number:</strong>
  <%= @ticket.jira_ticket_number %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @ticket.created_at %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @ticket.created_by %>
</p>

<p>
  <strong>Active:</strong>
  <%= @ticket.active %>
</p>

<p>
  <strong>Epic:</strong>
  <%= @ticket.epic %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
