<div class="row">
  <div class="col-md-12">
    <h1>m2M Strategies Ticket Request System</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p>
      Log in to see the different features that are being requested.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="box">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <label for="user_email">Email </label>
          <input type="text" class="form-control" id="user_email" name="user[email]"></input>
        </div>
        
        <div class="form-group">
          <label for="user_password">Password </label>
          <input type="password" class="form-control" id="user_password" name="user[password]"></input>
        </div>
        
        <div class="form-group">
          <button class="btn btn-primary pull-right">Login</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
