body {
  border: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background: {
    color: #eee !important;
  }
  
  .container {
    background-color: #ffffff;
    height: 100%;
  }
  
  .btn.btn-link[disabled] {
    font-weight: bold;
  }
}

@mixin border-radius( $radius ) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow( $depth ) {
  box-shadow: $depth $depth 5px #333;
}

.box {
  border: 1px solid #aaa;
  padding: 12px;
  margin: 12px;
  position: relative;
  overflow: auto;
  @include box-shadow( 4px );
}
