// Place all the styles related to the Tickets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ticket-vote-container {
  text-align: center;
  
  span {
    display: block;
    margin-top: 20%;
  }
}
