// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.flash-messages {
  position: absolute;
  top: 0;
  text-align: center;
  
}
