<!DOCTYPE html>
<html>
<head>
  <title>TicketRequestForum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="flash-messages">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  </div>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
